Write a program which accepts month's name as input and display the number of days in the month as output

In [ ]:
month_name= str(input("enter the month of your choice: "))

if month_name in ("january, march, may, july, august, october, december"):
  print("the number of days is", 31)
elif month_name in ("april, june, september, november"):
  print("the number of days is", 30)
elif month_name=='february':
  print("the number of days are", 28 or 29)
else:
  print("the name entered is invalid")

enter the month of your choice: february
the number of days are 28

Take any word as input from the user and count the number of vowels in the word

In [ ]:
word = input("enter the any word of your choice: ")
count=0
for i in word:
  if i in ('AaEeIiOoUu'):
    print(i)
    count=count+1
print("no of vowels is", count)

enter the any word of your choice: Australia
A
u
a
i
a
no of vowels is 5

Write a program to separate even and odd numbers in two distinct lists from a list of numbers of your choice

In [ ]:
number=2,67,89,44,66,23,45,68,90,43

even_list=[]
odd_list=[]

for i in number:
  if i%2==0:
    even_list.append(i)
  else:
    odd_list.append(i)
print("Even number list: ", even_list)
print("Odd number list: ", odd_list)

Even number list:  [2, 44, 66, 68, 90]
Odd number list:  [67, 89, 23, 45, 43]

Write a program that appends datatype of elements from a list to a separate list

In [ ]:
list=[12,34.45,'Agra',36,'Kolkata']

type_list=[]

for i in list:
  type_list.append(type(i))
print(type_list)

[<class 'int'>, <class 'float'>, <class 'str'>, <class 'int'>, <class 'str'>]

Take a number as input from the user and find its factorial

In [ ]:
num = int(input("enter your number: "))

factorial=1
for i in range(1,num+1):
  factorial=factorial*i
print(factorial)

enter your number: -23
1

Write a program to display only those numbers from a list that satisfies the following conditions:

1. The number must be divisible by 7

2. If the number is equal to 140 then skip it and move to the next number in the list

3. If the number in the list is greater than 630 then stop the loop

In [ ]:
num_list=[21,35,43,140,179,580,630,635]

for i in num_list:
  if i%7==0:
    print(i)
  elif i==140:
    continue
  elif i>630:
    break
  else:
    pass

21
35
140
630