Create a function which adds any given two numbers

In [ ]:
def add(a,b):
  s=a+b
  print(s)

In [ ]:
add(4,6)

10

In [ ]:
add(69,-987)

-918

In [ ]:
add(4,3,4) #when defined function for two parameters we cannot assign any other paramenter in order to do so we have to create another function

TypeError: ignored

Create a function which adds any given three numbers

In [ ]:
def adding(a,b,c):
  s=a+b+c
  print(s)

In [ ]:
adding(45,87,98)

230

In [ ]:
adding(23,78) #when created function for 3 parameters we are not supposed to give any less or excess parameters as it will show an error

TypeError: ignored

create a funtion which displays whole number output of division operation on 2 numbers

In [ ]:
def div(a,b):
  c=a//b
  print(c)

In [ ]:
div(10,3)

3

create a function which displays addition, substraction, multiplication & division of 2 numbers

In [ ]:
def compute(a,b):
  x=a+b
  y=a-b
  z=a*b
  p=a/b
  print(x,y,z,p)

In [ ]:
compute(20,5)

25 15 100 4.0

create a function which takes name and age from the user & display the age of the person

In [ ]:
def person(name,age):

  print('Hi your age is ',age)

In [ ]:
person('Rohit',24)

Hi your age is  24

In [ ]:
def info(name,age):
  print('Hi', name,'your age is',age)

In [ ]:
info('rohit',24)

Hi rohit your age is 24

create a function which take name & salary from the user & display the name & salary of the person

incase the salary is not given then take default salary as 15000

In [ ]:
def data(name,salary=15000): #assigned salary default value as 15000 if salary not provided by the user it will show 15000 only
  print('Hi', name,'your cuuent salary is',salary,'per month')

In [ ]:
data("Rohit")

Hi Rohit your cuuent salary is 15000 per month

Create a function which adds all the elements given in a list of numbers

In [ ]:
def add_list(num):
  sum=0

  for i in num:
    sum=sum+i
  print(sum)

In [ ]:
add_list([1,2,3,4,5,6])

21

Create a function which displays the largest number out of three given numbers.

In [ ]:
def largest(a,b,c):
  if a>b & a>c:
    print(a, 'is the greatest of all')
  elif b>c & b>a:
    print(b, 'is the greatest of all')
  else:
    print(c, 'is the greatest of all')

In [ ]:
largest(5,6,7)

7 is the greatest of all

Create a function which computes area & circumference of the circle

In [ ]:
def circle(r,pi):
  circle_area=pi*r*r
  circle_circumference=2*pi*r
  print('The area of a circle is',circle_area)
  print('The circumfernce of a circle is',circle_circumference)

In [ ]:
circle(4,3.14)

The area of a circle is 50.24
The circumfernce of a circle is 25.12

Create a function which computed perimeter and area of a reactangle

In [ ]:
def rect(l,b):
  area=l*b
  perimeter=2*(l+b)
  print('The area of a reactangle is',area)
  print('The perimeter of a recatangle is',perimeter)

In [ ]:
rect(2,3)

The area of a reactangle is 6
The perimeter of a recatangle is 10

Create a function which displays all the even numbers given in the list of number in a new separate list

In [ ]:
def even(num):
  l1=[]

  for i in num:
    if i%2==0:
      l1.append(i)
    else:
      pass
  print(l1)

In [ ]:
even([2,3,4,6,7,24,32])

[2, 4, 6, 24, 32]

Create a function which counts the number of vowels & consonents in a given word

In [ ]:
def count(word):
  vowel_count=0
  consonent_count=0
  for i in range (len(word)): #here (len(word)) function generally count the word the provided so that it can be used for counting vowels & consonents

    if word[i] in ('A','a','E','e','I','i','O','o','U','u'): #here word[i] fundtion generally doing indexing part for counting
      vowel_count=vowel_count+1
    else:
      consonent_count=consonent_count+1
  print('The number of vowels are',vowel_count)
  print('The number of cosonents are',consonent_count)

In [ ]:
count('Umbrella')

The number of vowels are 3
The number of cosonents are 5

In [ ]:
#another way for doing above one
def count(word):
  vowel_count=0
  consonent_count=0
  for i in word:
    if i in ('A','a','E','e','I','i','O','o','U','u'):
      vowel_count=vowel_count+1
    else:
      consonent_count=consonent_count+1
  print('The number of vowels are',vowel_count)
  print('The number of cosonents are',consonent_count)

In [ ]:
count('india')

The number of vowels are 3
The number of cosonents are 2

In [ ]:
count('United States')

The number of vowels are 5
The number of cosonents are 8

Types of argument.
1. Default argument
2. Arbitrary argument
3. Keyword argument
4. Arbitrary keyword argument

Default argument

Create a function which greets "Good morning" to the customer by using his/her name.
Incase the name is not provided call the cx by the name "user"

In [ ]:
def fun(name='User'):
  print('Good morning!',name)

In [ ]:
fun('Rohit')

Good morning! Rohit

In [ ]:
fun()

Good morning! User

Arbitrary argument

1. here the no. of parameter are unknown to us
2. in order to accept any number of parameter from the user, we use * symbol along with the name of the parameter
3. Arbitrary arguments are also called as *args

In [ ]:
def func(*child):
  print('Youngest child is', child[2])

In [ ]:
func('Ram','Shyam','Mohan','Ravi')

Youngest child is Mohan

In [ ]:
def greet(*names):
  for name in names:
    print('Good morning', name)

In [ ]:
greet('Ravi','Akash','Rajesh')

Good morning Ravi
Good morning Akash
Good morning Rajesh

Keyword Arguments

1. Here the no. of parameters are known to us.
2. While calling a function we provide the input in the form of key value pair.
3. Order of the parameters does not play a role.

In [ ]:
def func1(child3, child1, child2): #as arrangement of parameters will not play a role here.
   print('Youngest child is', child3)

In [ ]:
func1(child1='Ram',child2='Shyam',child3='Meera') #way of entering names like this- 'child1='Ram' which is in pair this is called key value pair

Youngest child is Meera

Arbitrary keyword argument

1. Here the number of parameters are unknown to us
2. While calling a function we provide the input in the form of key value pair.
3. We use ** sysmbol along with the name of the parameter. #Here double asteric (**) is used because, the first one will helps in taking 'n' number of parameters from the user because we don't know the exact no. of parameters. Whereas the 2nd one will helps in taking i/p in the form of key-pair value because the function is arbitrary in nature along with keyword argument.
4. Arbitrary Keyword Argument are also called **kwargs

In [ ]:
def func2(**names):
  print("His last name is",names['lname'])

In [ ]:
func2(fname='Rohit',mname='Kumar',lname='Shah')

His last name is Shah

In [ ]:
func2(fname='Kunal',lname='None')

His last name is None

Recursion

Create a function which calculates the factorial of the number

In [ ]:
def fact(n):
  fact=1

  for i in range(1,n+1):
    fact=fact*i
  print(fact)

In [ ]:
fact(5)

120

In [ ]:
fact(0)

1

In [ ]:
fact(1)

1

In [ ]:
fact(17)

355687428096000

In [ ]:
fact(10)

3628800