Nested if

Take a number as input from the user and check if the number is greater than 10 or less than 10.

In case the number is greater than 10, check if it is greater than 20 also or not

In [ ]:
x=int(input("enter you number: "))

if x>10:
  if x>20:
    print('The number',x,'is greater than 20')
  else:
    print('The number',x,'comes between 10 and 20')
else:
  print('The number',x,'is less than 10')

enter you number: 6
The number 6 is less than 10

Take a number as input from the user and check if the number is +ve, -ve or 0

In [ ]:
num=int(input("enter your number: "))
if num>=0:
  if num>0:
    print('The number',num,'is a positive number')
  else:
    print('The number is',num)
else:
  print('The number',num,'is a negative number')

enter your number: -5
The number -5 is a negative number

Take a number as input from the user and check if it is positive or negative. In either case check if the number is even number or an odd number

In [ ]:
num=int(input("enter your number: "))
if num>=0:
  if num>0:
    if num%2==0:
      print('The number',num,'is a positive even number')
    else:
      print('The number',num,'is a positive odd number')
  else:
    print('The number is',num)
else:
  if num%2==0:
      print('The number',num,'is a negative even number')
  else:
      print('The number',num,'is a negative odd number')

enter your number: -4
The number -4 is a negative even number

LOOPS

In [ ]:
a=1
while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
a=7
b=5

while a<=9:
  print(a*b)
  a=a+1

35
40
45

In [ ]:
x=5
while x<15:
  print(x**2)
  x=x+3

25
64
121
196

In [ ]:
c=0
while c<20:
  print(c)
  c=c+2

0
2
4
6
8
10
12
14
16
18

Take a list of your choice and display the elements one by one

In [ ]:
list=['Rohit',35,96,'India']

for i in list:
  print(i)

Rohit
35
96
India

Take a list of numbers and square all the elements given in the list

In [ ]:
l1=[23,4,5,89]

for i in l1:
  print(i**2)

529
16
25
7921

Take a list of numbers and append the squares in a separate list

In [ ]:
l1=[23,4,5,7,12]
l2=[]

for i in l1:
  sq=(i*i)
  l2.append(sq)
print(l2)

[529, 16, 25, 49, 144]

Take a list of numbers and display all the even numbers from the list

In [ ]:
l1=[2,34,5,6,7,87,24]
l2=[]
for i in l1:
  if i%2==0:
    l2.append(i)
print(l2)

[2, 34, 6, 24]

Take a list of numbers and display the count of even numbers

In [ ]:
l1=[2,34,5,6,7,87,24]
count=0

for i in l1:
  if i%2==0:
    count=count+1
print('The total number of even number is',count)

The total number of even number is 4

Take a list of numbers and display the count of both even and odd numbers

In [ ]:
l1=[2,34,5,6,7,87,24]
count_even=0
count_odd=0

for i in l1:
  if i%2==0:
    count_even=count+1
  else:
    count_odd=count_odd+1
print('The total number of even number is',count_even)
print('The total number of odd number is',count_odd)

The total number of even number is 5
The total number of odd number is 3

Take a number as input from the user and display the multiplication table (till 10) for that number

In [ ]:
num=int(input('enter the number of your choice: '))

for i in range(1,11):
  print(num*i)

enter the number of your choice: 67
67
134
201
268
335
402
469
536
603
670

Calculate the sum and average of all numbers from 1 to a given number by the user

In [ ]:
num=int(input('enter the number of your choice: '))
sum=0

for i in range(1,num+1):
  sum=sum+i
print('the sum of the numbers is ',sum)
print('the average of the numbers is ',sum/num)

enter the number of your choice: 10
the sum of the numbers is  55
the average of the numbers is  5.5

Statements

Pass

Break

continue

In [ ]:
#pass - it makes the code segment inactive
x=int(input('enter the number of your choice: '))
y=int(input('enter the number of your choice: '))

if x>y:
  print('x is greater than y')
else:
  pass

enter the number of your choice: 5
enter the number of your choice: 8

In [ ]:
#break - focebly come out of the loop

fruits=['apple','mango','banana','grapes']

for i in fruits:
  if i=='banana':
    break
  print(i)

apple
mango

In [ ]:
#continue- the element which is in condition get skipped but the loop continues to itrate whithout that element

fruits=['apple','mango','banana','grapes']

for i in fruits:
  if i=='banana':
    continue
  print(i)

apple
mango
grapes

Display all the numbers between 1 to 10 except 3 or 7

In [ ]:
num=[1,2,3,4,5,6,7,8,9,10]

for i in num:
  if i==3 or i==7:
    continue
  print(i)

1
2
4
5
6
8
9
10

In [ ]:
for i in range(1,11):
  if i==3 or i==7:
    continue
  print(i)

1
2
4
5
6
8
9
10